* {
    main-bg:            #172830B3;
    main-fg:            #CCEFFFE6;
    main-br:            #A19284E6;
    main-ex:            #4E383EE6;
    select-bg:          #F0AAB980;
    select-fg:          #522931E6;
}
