* {
    main-bg:            #F3E1BBB3;
    main-fg:            #524429E6;
    main-br:            #405546E6;
    main-ex:            #95A67DE6;
    select-bg:          #3A656B80;
    select-fg:          #CCF8FFE6;
}
