* {
    main-bg:            #1E2226B3;
    main-fg:            #CCE6FFE6;
    main-br:            #5D7253E6;
    main-ex:            #394737E6;
    select-bg:          #DCF0AA80;
    select-fg:          #465229E6;
}
