[Unit]
Description=Servicio para gestionar la luz del teclado

After=network.target

[Service]
Type=simple

User=root

ExecStart=/usr/bin/python3 /usr/local/bin/keyboard_server.py


[Install]
WantedBy=multi-user.target
